// Cor de fundo
$corDeFundo: #F4E7DC;
$corDoCard: #fff;
$corFundoPreparacao: #FFF7FC;

// Cor do texto
$corTextoHero: #A19D9A;
$corTextoPreparacao: #716765;
$corTextoIngredientes: #525151;
$corTextoInstrucoes: #827E7B;



// Cor do titulo
$corTituloPrincipal: #2B2A28;
$corTituloPequeno: #5C1C36;
$corTituloMedio: #81442E;

// Cor borda
$corBordaFundo: #E0E0E0;


